*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    /*background-color: hsl(219, 29%, 14%);*/
   /* background-color: hsl(217, 19%, 35%);*/
   background-color: hsl(0, 0%, 81%);
}