.card{
    background-color: hsl(216, 50%, 16%);
    width: 325px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;

    border-radius: 10px;
}

.img-card img{
    border-radius: 8px;
    margin-top: 20px;
}

.content{
    width: 280px;
    margin-bottom: 15px;
}

.container{
    height: 170px;
    
    border-bottom: 1px solid hsl(215, 32%, 27%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content h1{
    color: hsl(0, 0%, 100%);
    font-size: 22px;
}
.texto{
    color: hsl(215, 51%, 70%);
}

.eth-container{
    display: flex;
    justify-content: space-between;
}

.eth, .time{
    display: flex;
    align-items: center;
}

.eth-img{
    margin-right: 10px;
}

.eth p{
    color: hsl(178, 100%, 50%);
    font-size: 15px;
}
.clock-img{
    margin-right: 10px;
}

.time p{
    color: hsl(215, 51%, 70%);
    font-size: 15px;
}

.content-footer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.content-footer small{
    color: hsl(215, 51%, 70%);
    font-size: 15px;
}

.content-footer span{
    color: hsl(0, 0%, 100%);
}

.face{
    width: 35px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 15px;
}

