.containerHome{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #E7E7E7E7;
}

.card{
    margin: 30px;
    width: 450px;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.square{
    width: 86px;
    height: 86px;
    background-color: green;
}

.divClass{
    background-color: blue;
}