<div class="containerHome">
    <article class="card">
        <h2>Two-way data Binding</h2>
        <div>
            <input type="text"
            [(ngModel)]="nome"
            >

            <p>vc digitou: {{nome}}</p>
        </div>
        
    </article>
    <br>
    <article class="card">
        <h2>ngSwitch</h2>
        <input type="text"
            [(ngModel)]="name"
            >
        <div [ngSwitch]="name">
            <p *ngSwitchCase="'cairo'">aeee sou eu</p>
            <p *ngSwitchCase="'matheus'">errou</p>
            <p *ngSwitchCase="'ciro gomes'">político</p>
        </div>

    </article>
    <br>
    <article class="card">
        <h2>ngIf</h2>
        <label for="">Digite o seu nome</label>
        <input type="text"
            [(ngModel)]="nomeIf"
            >
        <p *ngIf="nomeIf == 'cairo'">Oxe sou eu</p>  
        <p *ngIf="nomeIf == 'ciro'">errou</p>  
        <p *ngIf="nomeIf == 'fluminense'">Isso é o meu time, não um nome</p>
         
        
    </article>

    <article class="card">
        <h2>ngFor</h2>

        <div *ngFor="let i of nomeFor">
            <h4>Nome: {{i.n}}</h4>
            <h4>Idade: {{i.age}}</h4>
        </div>
    </article>
</div>
